#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  color: white;
  background-color: #333;
}

.card {
  padding: 1.5em;
  align-content: center;
}

.lengths{
  display: flex;
}

.length-container{
  margin: 15px;
}

.length-controls{
  display: flex;
  align-items: center;
  justify-content: center;
}

.length-number{
  margin-right: 15px;
}

#timer-label{
  font-size: 4em;
  font-weight: 400;
}

.title {
  color: #ffffff;
}